/* CSS reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  background: url(/assets/freedom.jpg) no-repeat center center fixed;
  background-size: cover;
  text-align: center;
}

#quotation {
  max-width: 70%;
  margin: 10em auto;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  font-variant: small-caps;
}

p {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  margin-top: 2em;
}